<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <upcron_monitor>
            <api>
                <connect_timeout>3</connect_timeout>
                <transfer_timeout>5</transfer_timeout>
            </api>
        </upcron_monitor>
    </default>
</config>
